USE [Tunnel_Insp]
GO
/****** Object:  Table [dbo].[DETAIL_TYPE_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_TYPE_LIST](
	[DETAIL_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DETAIL_TYPE_LIST] PRIMARY KEY CLUSTERED 
(
	[DETAIL_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISEASE_TYPE_DETAIL_MATCH]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISEASE_TYPE_DETAIL_MATCH](
	[MATCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISEASE_TYPE] [nvarchar](50) NULL,
	[DETAIL_TYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_DISEASE_TYPE_DETAIL_MATCH] PRIMARY KEY CLUSTERED 
(
	[MATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISEASE_TYPE_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISEASE_TYPE_LIST](
	[DISEASE_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DISEASE_TYPE_LIST] PRIMARY KEY CLUSTERED 
(
	[DISEASE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISEASE_TYPE_PARAMETER_MATCH]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISEASE_TYPE_PARAMETER_MATCH](
	[MATCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISEASE_TYPE] [nvarchar](50) NULL,
	[PARAMETER] [nvarchar](20) NULL,
 CONSTRAINT [PK_DISEASE_TYPE_PARAMETER_MATCH] PRIMARY KEY CLUSTERED 
(
	[MATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACILITY_TYPE_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACILITY_TYPE_LIST](
	[FACILITY_TYPE] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_FACILITY_TYPE_LIST] PRIMARY KEY CLUSTERED 
(
	[FACILITY_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_FACILITY_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_FACILITY_LIST](
	[Facility_No] [nchar](22) NOT NULL,
	[Facility_Name] [nvarchar](50) NOT NULL,
	[Facility_Importance] [nchar](1) NOT NULL,
	[Supplementary_Specification] [nvarchar](500) NULL,
	[Complete_Date] [date] NULL,
	[Contingency_Plan] [nvarchar](200) NULL,
	[Technical_Index] [nvarchar](500) NULL,
	[Subsidy_Document] [nvarchar](200) NULL,
	[Remark] [varchar](200) NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_M_FACILITY_LIST] PRIMARY KEY CLUSTERED 
(
	[Facility_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_LOGIN]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_LOGIN](
	[LOGIN_ID] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](200) NULL,
	[USER_NAME] [varchar](50) NULL,
	[IS_ADMIN] [char](1) NULL,
	[GENDER] [char](1) NULL,
	[TEL_NO] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL,
	[ADDRESS] [varchar](200) NULL,
	[TOKEN] [varchar](50) NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_M_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_LOGIN_ROLE]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_LOGIN_ROLE](
	[LOGIN_ID] [varchar](20) NOT NULL,
	[ROLE_ID] [varchar](50) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_M_LOGIN_ROLE] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_ROLE]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ROLE](
	[ROLE_ID] [varchar](50) NOT NULL,
	[ROLE_NAME] [varchar](100) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_M_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODEL_NAME_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODEL_NAME_LIST](
	[MODEL_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MODEL_NAME_LIST] PRIMARY KEY CLUSTERED 
(
	[MODEL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Monomer_No_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monomer_No_LIST](
	[NO] [nvarchar](10) NOT NULL,
	[Monomer_No] [nvarchar](10) NULL,
 CONSTRAINT [PK_Monomer_No_LIST] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pos_Desp_LIST]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pos_Desp_LIST](
	[Pos_Desp] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Pos_Desp_LIST] PRIMARY KEY CLUSTERED 
(
	[Pos_Desp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_FACILITY_INSP_DETAIL]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_FACILITY_INSP_DETAIL](
	[ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[DISEASE_NO] [varchar](15) NOT NULL,
	[DISEASE_DATE] [date] NOT NULL,
	[DISEASE_TYPE] [nvarchar](50) NOT NULL,
	[DETAIL_TYPE] [nvarchar](50) NULL,
	[DISEASE_DISCRIPTION] [nvarchar](50) NOT NULL,
	[DEPTH] [numeric](14, 2) NULL,
	[LENGTH] [numeric](14, 2) NULL,
	[WIDTH] [numeric](14, 2) NULL,
	[AREA] [numeric](14, 2) NULL,
	[JOINTOPEN] [numeric](14, 2) NULL,
	[DISLOCATION] [numeric](14, 2) NULL,
	[PHOTO] [nvarchar](200) NULL,
	[RECORDER] [nvarchar](30) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_T_FACILITY_INSP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_FACILITY_INSP_SUM]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_FACILITY_INSP_SUM](
	[MILEAGE] [nvarchar](15) NOT NULL,
	[PHOTO_STANDARD] [nvarchar](200) NOT NULL,
	[DISEASE_NO] [varchar](15) NOT NULL,
	[DISEASE_DATE] [date] NOT NULL,
	[Monomer_No] [nvarchar](10) NOT NULL,
	[FACILITY_NO] [nchar](22) NOT NULL,
	[FACILITY_TYPE] [nvarchar](30) NOT NULL,
	[Pos_Desp] [varchar](100) NULL,
	[TAG_ID] [nvarchar](500) NULL,
	[MODEL_NAME] [nvarchar](50) NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_T_FACILITY_INSP_SUM] PRIMARY KEY CLUSTERED 
(
	[MILEAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_FACILITY_MAINTAIN]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_FACILITY_MAINTAIN](
	[FM_NO] [nvarchar](15) NOT NULL,
	[DISEASE_NO] [varchar](100) NULL,
	[REPAIR_CONTENT] [nvarchar](60) NOT NULL,
	[REPAIR_AMOUNT] [numeric](8, 0) NULL,
	[QUOTA_NO] [nvarchar](60) NULL,
	[REPAIR_FEE] [numeric](10, 2) NULL,
	[FINISH_DATE] [date] NULL,
	[MAINTAIN_MAN] [varchar](20) NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_T_FACILITY_MAINTAIN] PRIMARY KEY CLUSTERED 
(
	[FM_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_MILEAGE_DISEASE_MATCH]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_MILEAGE_DISEASE_MATCH](
	[Match_ID] [int] IDENTITY(1,1) NOT NULL,
	[MILEAGE] [nvarchar](15) NOT NULL,
	[DISEASE_NO] [varchar](15) NOT NULL,
	[LOCATION_X] [numeric](5, 2) NOT NULL,
	[LOCATION_Y] [numeric](5, 2) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_T_MILEAGE_DISEASE_MATCH] PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SURR_ACT]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SURR_ACT](
	[NO] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[ACT_NO] [nchar](11) NOT NULL,
	[INSP_DATE] [date] NOT NULL,
	[ACT_TYPE] [nvarchar](10) NOT NULL,
	[ACT_STATUS] [nvarchar](10) NULL,
	[Description] [nvarchar](200) NULL,
	[Photo] [nvarchar](200) NULL,
	[Audio] [nvarchar](200) NULL,
	[VIDEO] [nvarchar](200) NULL,
	[Recorder] [nvarchar](20) NOT NULL,
	[SynChronize] [char](1) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_T_SURR_ACT] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SURR_ACT_SUM]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SURR_ACT_SUM](
	[ID] [numeric](10, 0) NOT NULL,
	[ACT_NO] [nchar](11) NOT NULL,
	[ACT_NAME] [nvarchar](20) NOT NULL,
	[START_DATE] [date] NULL,
	[Surround_No] [nchar](22) NULL,
	[TAG_ID] [nvarchar](500) NULL,
	[END_DATE] [date] NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[ACT_LEVEL] [char](2) NULL,
	[LONGITUDE] [numeric](5, 2) NULL,
	[LATITUDE] [numeric](5, 2) NULL,
	[SynChronize] [char](1) NOT NULL,
	[DEL_FLG] [char](1) NULL,
	[UPDATE_CNT] [numeric](5, 0) NULL,
	[CREATE_USER] [varchar](40) NULL,
	[CREATE_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SURR_INFO]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SURR_INFO](
	[Surround_No] [nchar](22) NOT NULL,
	[Surround_Name] [nvarchar](30) NOT NULL,
	[Surround_Type] [nvarchar](10) NOT NULL,
	[Protect_Level] [nvarchar](5) NOT NULL,
	[Nearest_Tunnel] [nvarchar](20) NOT NULL,
	[Mileage_No] [nvarchar](10) NULL,
	[Height] [numeric](8, 0) NULL,
	[Depth] [numeric](8, 0) NULL,
	[Building_State] [nvarchar](10) NULL,
	[Finished_Year] [date] NULL,
	[Usage_State] [nvarchar](100) NULL,
	[Owner_Unit] [nvarchar](100) NULL,
	[Telephone] [nvarchar](30) NULL,
	[Blueprint_Path] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_SURR_INFO] PRIMARY KEY CLUSTERED 
(
	[Surround_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUNNEL_MILEAGE_MONOMER_MATCH]    Script Date: 2016/8/24 21:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUNNEL_MILEAGE_MONOMER_MATCH](
	[Monomer_No] [nvarchar](10) NOT NULL,
	[Tunnel] [int] NOT NULL,
	[MILEAGE] [nvarchar](15) NOT NULL,
	[FACILITY_NO] [nchar](22) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_LOGIN_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_M_LOGIN_ROLE_M_LOGIN] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[M_LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[M_LOGIN_ROLE] CHECK CONSTRAINT [FK_M_LOGIN_ROLE_M_LOGIN]
GO
ALTER TABLE [dbo].[M_LOGIN_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_M_LOGIN_ROLE_M_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[M_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[M_LOGIN_ROLE] CHECK CONSTRAINT [FK_M_LOGIN_ROLE_M_ROLE]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_DETAIL_T_FACILITY_INSP_DETAIL] FOREIGN KEY([DETAIL_TYPE])
REFERENCES [dbo].[DISEASE_TYPE_LIST] ([DISEASE_TYPE])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_DETAIL] CHECK CONSTRAINT [FK_T_FACILITY_INSP_DETAIL_T_FACILITY_INSP_DETAIL]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_DETAIL_T_FACILITY_INSP_DETAIL1] FOREIGN KEY([DETAIL_TYPE])
REFERENCES [dbo].[DETAIL_TYPE_LIST] ([DETAIL_TYPE])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_DETAIL] CHECK CONSTRAINT [FK_T_FACILITY_INSP_DETAIL_T_FACILITY_INSP_DETAIL1]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_SUM_FACILITY_TYPE_LIST] FOREIGN KEY([FACILITY_TYPE])
REFERENCES [dbo].[FACILITY_TYPE_LIST] ([FACILITY_TYPE])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM] CHECK CONSTRAINT [FK_T_FACILITY_INSP_SUM_FACILITY_TYPE_LIST]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_SUM_M_FACILITY_LIST] FOREIGN KEY([FACILITY_NO])
REFERENCES [dbo].[M_FACILITY_LIST] ([Facility_No])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM] CHECK CONSTRAINT [FK_T_FACILITY_INSP_SUM_M_FACILITY_LIST]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_SUM_Monomer_No_LIST] FOREIGN KEY([Monomer_No])
REFERENCES [dbo].[Monomer_No_LIST] ([NO])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM] CHECK CONSTRAINT [FK_T_FACILITY_INSP_SUM_Monomer_No_LIST]
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM]  WITH CHECK ADD  CONSTRAINT [FK_T_FACILITY_INSP_SUM_Pos_Desp_LIST] FOREIGN KEY([Pos_Desp])
REFERENCES [dbo].[Pos_Desp_LIST] ([Pos_Desp])
GO
ALTER TABLE [dbo].[T_FACILITY_INSP_SUM] CHECK CONSTRAINT [FK_T_FACILITY_INSP_SUM_Pos_Desp_LIST]
GO
ALTER TABLE [dbo].[T_SURR_ACT_SUM]  WITH CHECK ADD  CONSTRAINT [FK_T_SURR_ACT_SUM_T_SURR_INFO] FOREIGN KEY([Surround_No])
REFERENCES [dbo].[T_SURR_INFO] ([Surround_No])
GO
ALTER TABLE [dbo].[T_SURR_ACT_SUM] CHECK CONSTRAINT [FK_T_SURR_ACT_SUM_T_SURR_INFO]
GO
